.DS_Store
.idea/
test/*
test/
tf/.terraform/
tf/terraform.tfstate
tf/terraform.tfstate.backup
000-default.conf
packer/files/config
packer/files/credentials
tf/terraform.tfstate.d/
codebuild_build.sh
bk_*
output/
test_*
process.yml

